<!-- <app-nx-welcome></app-nx-welcome>
<button (click)="log()">click here</button>
<button href="/menu">this takes you to menu</button>
<router-outlet></router-outlet> -->

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li>
      <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page">menu component</a>
    </li>
    <!-- <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li> -->
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
