
  
  div {
    display: flex;  
    // width: fit-content;
    flex-direction: row;
    justify-content: space-between; 
    // align-self: center;
    border: 2px solid blue
  }



  a {
    border: 1px dotted red;
  }